.rest-hotel {
    width: 100%;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
        url(../img/bg-hero-index-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .rest-hotel {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../img/bg-hero-index-mob@2x.jpg);
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 288dpi),
(min-resolution: 2dppx) {
    .rest-hotel {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../img/bg-hero-index-mob@3x.jpg);
    }
}
.rest-hero {
    width: 100%;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
        url(../img/bg-rest-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .rest-hero {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../img/bg-rest-mob@2x.jpg);
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 288dpi),
(min-resolution: 2dppx) {
    .rest-hero {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../img/bg-rest-mob@3x.jpg);
    }
}
.hotel-hero {
    width: 100%;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
        url(../img/bg-hotel-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hotel-hero {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../img/bg-hotel-mob@2x.jpg);
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 288dpi),
(min-resolution: 2dppx) {
    .hotel-hero {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../img/bg-hotel-mob@3x.jpg);
    }
}
.hero {
    height: 740px;
    /* background-position: 50%; */
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 20px; */
}
.container {
    width: 414px;
    margin: 0 auto;
    padding: 0 15px;
}
.sub-container {
    position: relative;
}
.title-hero {
    letter-spacing: .3em;
    text-transform: uppercase;
    color: #fff;
    max-width: 303px;
    margin: 0 auto;
    padding-top: 181px;
    font-family: Film P3;
    font-size: 96px;
    font-weight: 700;
    line-height: 1.07;
}
.subtitle-hero {
    text-align: center;
    letter-spacing: .02em;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
}
.heading-hero {
    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 113px;
    font-family: Times New Roman;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
}
.hero-btn {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 0;
}
.buttons-hero {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 102px;
    margin-right: 0;
    display: flex;
    /* gap: 24px; */
}
.button-primary:not(:last-child) {
    margin-bottom: 24px;
}
.button-primary,
.button-secondary {
    cursor: pointer;
    min-width: 236px;
    text-align: center;
    letter-spacing: .02em;
    color: #f3c653;
    letter-spacing: .02em;
    color: #f3c653;
    background-color: rgba(0, 0, 0, .4);
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 14px 21px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
    display: inline-block;
}
.hero-button:hover {
    background-color: #FFFFFF;
}
.hotel-btns {
    margin-top: 138px;
}
.map-address {
    width: 210px;
    height: 47px;
    letter-spacing: .01em;
    color: #e5e5e5;
    border: 1px solid rgba(243, 198, 83, .7);
    border-radius: 2px;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: auto;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    position: absolute;
    top: 64px;
    left: 175px;
}
.icon-picture {
    fill: #f3c653;
    margin-right: 13px;
}

/* mob */
@media (min-width: 414px) {
    .container {
        width: 414px;margin-right: auto;
        margin-left: auto;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;
    }
}
/* tab */

@media screen and (min-width:1024px) {
    .container {
        width: 960px;
    
    }
    .hero {
        height: 720px;
        /* padding-top: 188px; */
    }
    .sub-container {
        /* max-width: 960px; */
    position: relative;
    }
        .rest-hotel {
            width: 100%;
            background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)),
                url(../img/bg-hero-index-tab.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-left: auto;
            margin-right: auto;
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .rest-hotel {
                background-image: linear-gradient(to right,
                        rgba(0, 0, 0, 0.65),
                        rgba(0, 0, 0, 0.65)),
                    url(../img/bg-hero-index-tab@2x.jpg);
            }
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 288dpi),
        (min-resolution: 2dppx) {
            .rest-hotel {
                background-image: linear-gradient(to right,
                        rgba(0, 0, 0, 0.65),
                        rgba(0, 0, 0, 0.65)),
                    url(../img/bg-hero-index-tab@3x.jpg);
            }
        }




                .rest-hero {
                    width: 100%;
                    background-image: linear-gradient(to right,
                            rgba(0, 0, 0, 0.65),
                            rgba(0, 0, 0, 0.65)),
                        url(../img/bg-rest-tab.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    margin-left: auto;
                    margin-right: auto;
                }
        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    .rest-hero {
                        background-image: linear-gradient(to right,
                                rgba(0, 0, 0, 0.65),
                                rgba(0, 0, 0, 0.65)),
                            url(../img/bg-rest-tab@2x.jpg);
                    }
                }
        
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 288dpi),
                (min-resolution: 2dppx) {
                    .rest-hero {
                        background-image: linear-gradient(to right,
                                rgba(0, 0, 0, 0.65),
                                rgba(0, 0, 0, 0.65)),
                            url(../img/bg-rest-tab@3x.jpg);
                    }
                }
                                .hotel-hero {
                                    width: 100%;
                                    background-image: linear-gradient(to right,
                                            rgba(0, 0, 0, 0.65),
                                            rgba(0, 0, 0, 0.65)),
                                        url(../img/bg-hotel-tab.jpg);
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    background-position: center;
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                
                                @media (min-device-pixel-ratio: 2),
                                (min-resolution: 192dpi),
                                (min-resolution: 2dppx) {
                                    .hotel-hero {
                                        background-image: linear-gradient(to right,
                                                rgba(0, 0, 0, 0.65),
                                                rgba(0, 0, 0, 0.65)),
                                            url(../img/bg-hotel-tab@2x.jpg);
                                    }
                                }
                
                                @media (min-device-pixel-ratio: 2),
                                (min-resolution: 288dpi),
                                (min-resolution: 2dppx) {
                                    .hotel-hero {
                                        background-image: linear-gradient(to right,
                                                rgba(0, 0, 0, 0.65),
                                                rgba(0, 0, 0, 0.65)),
                                            url(../img/bg-hotel-tab@3x.jpg);
                                    }
                                }
.title-hero {
    margin-bottom: 16px;
    padding-top: 188px;
    font-size: 128px;
        line-height: 138px;
        margin-bottom: 16px;
        max-width: 960px;
        text-align: center;
}
.subtitle-hero {
    margin-bottom: 56px;
    font-size: 20px;
        line-height: 24px;
        margin-bottom: 56px;
}
.heading-hero {
    
    font-size: 36px;
        line-height: 41px;
        margin-bottom: 137px;
}
.buttons-hero {
    margin-bottom: 64px;
    /* display: flex; */
    /* flex-direction: row; */
}
.hero-btn {flex-direction: row;
    flex-wrap: nowrap;
        justify-content: end;
        gap: 40px;
        margin-bottom: 0;
        margin-left: auto;
}
.map-address {
        width: 285px;
            height: 56px;
            top: 600px;
            font-size: 16px;
            line-height: 20px;
            left: 0;
}
.hotel-btns {
    margin-top: 180px;
}

}



/* desktop */
@media screen and (min-width: 1280px) {
    .container {
        width: 1140px;
        padding-right: 15px;
        padding-left: 15px;
        margin: auto;
    }
.rest-hotel {
    /* position: relative; */
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
        url(../img/bg-hero-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .rest-hotel {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../img/bg-hero-index@2x.jpg);
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 288dpi),
(min-resolution: 2dppx) {
    .rest-hotel {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../img/bg-hero-index@3x.jpg);
    }
}


.rest-herol {
    position: relative;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
        url(../img/bg-rest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .rest-hero {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../img/bg-rest@2x.jpg);
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 288dpi),
(min-resolution: 2dppx) {
    .rest-hero {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../img/bg-rest@3x.jpg);
    }
}

.hotel-hero {
    position: relative;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
        url(../img/bg-hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hotel-hero {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../img/bg-hotel@2x.jpg);
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 288dpi),
(min-resolution: 2dppx) {
    .hotel-hero {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(../img/bg-hotel@3x.jpg);
    }
}

 .title-hero {
    margin-bottom: 32px;
}

.subtitle-hero {
    margin-bottom: 64px;
}

.heading-hero {
    margin-bottom: 115px;
}

.sub-hotel {
    margin-bottom: 199px;
}
.map-address {
    top: 600px;
    font-size: 16px;
    line-height: 20px;
}


}

